@use '~@angular/material/theming' as material;
@use 'sass:map';

@mixin mk-button-theme($theme) {
  $primary: map.get($theme, primary);
  $primary-color: material.mat-color($primary, 500);

  button {
    &.mat-raised-button {
      width: max-content;
      background-color: $primary-color;
    }
    &.cdk-focused {
      outline: none;
    }

    &.cdk-mouse-focused {
      outline: none;
    }
  }
}
